.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-width: 300px;
    margin: 0 30px;
    padding: 20px;
    border-radius: 5%;
    cursor: pointer;
    transform: scale(0.8);
    transition: all .3s cubic-bezier(.645, .045, .355, 1);

    background-image: linear-gradient(to right, #dad299, #b0dab9);
}

.card:hover, .card:focus {
    transform: scale(1);
}

.logo {
    margin-top: 20px;
    width: 75px;
}

.info {
    font-size: large;
    text-decoration: underline;
}

.name {
    font-style: italic;
    font-size: large;
    margin: 10px auto;
}