.footer {
    padding: 10px 0;
    text-align: center;

    color: white;
    background-image: linear-gradient(to right, #a6da99, #dbe2b9);
}

.backBox {
    display: flex;
    align-items: center;
    justify-content: center;
}

.title {
    font-size: 1.3rem;
    margin: 5px 0;
}

.logo {
    display: inline-block;
    width: 75px;
    margin-left: 20px;
}